<div class="container">
  <div class="row">
    <div class="col">
      <p class="h3">Employee Management System
       <a class=" btn btn-danger btn-sm"routerLink="/employee/add">
         <i class="fa fa-plus-circle>"></i>New</a>
      </p>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <input class="form-control" placeholder="Search Employee" type="text" name="text">
              </div>
              <div class="col">
                <input class="btn btn-outline-dark" type="submit" value="Search">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
